<center><p>Author</p></center>
	<center>
			Daniel Sienkiewicz 206358<br />
			University of Gdańsk 2014<br /><br />
			<a href="http://rubyonrails.org/"><img src="http://project-midas.com/daniel_things/ror.jpg" alt="RoR" width="15%"></a>&#9;<a href="https://github.com/henio180"><img src="http://project-midas.com/daniel_things/github.png" alt="GitHub" width="40%"></a><br />
	</center>